.LoadingPage {
  width: 100%;
}

.LoadingPage.CitronBackground {
  background: linear-gradient(
    180deg,
    #fffac8 0%,
    rgba(255, 255, 255, 0) 35.06%
  );
}

.LoadingPage.PlumBackground {
  background: linear-gradient(
    180deg,
    #eeffbd 0%,
    rgba(255, 255, 255, 0) 35.06%
  );
}

.LoadingPage.PomegranateBackground {
  background: linear-gradient(
    180deg,
    #ffecf1 0%,
    rgba(255, 255, 255, 0) 35.06%
  );
}


.LoadingPage .SmallLogo {
  margin: 78px 0 40px 0;
}

.LoadingMaimu_Wrapper {
  margin-top: 123px;
  display: block;
  text-align: center;
}

.LoadingPage .GreyMaimu {
  margin-top: 16px;
}

.CheckTaste_C {
  color: #202020;

  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin-top: 26px;
}
