.DetailPage {
  width: 100%;
  height: 100%;
  position: relative;
}

.DetailPageScroll {
  width: 100%;
  height: 100%;
  max-height: 844px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.DetailPageContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.DetailMaimu {
  display: grid;
  grid-template-columns: repeat(3, 94px);
  grid-auto-rows: 58px;
  gap: 27px;
  align-items: center;
  justify-content: center;
  margin-top: 38px;
}

.DetailPage .SmallLogo {
  margin-top: 78px;
}

.DetailPage .PasteLink {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  position: fixed;
  /* width: 62px; */
  height: 62px;
  top: 63px;
  left: 50%;
  margin-left: 100px;
  cursor: pointer;
  z-index: 10;
}

.DetailPage .GroupName {
  width: 100%;
  height: 30px;
  text-align: center;
  margin-top: 7px;
  color: #000;
  background-color: rgba(255, 255, 255, 0);
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
